$wrapper-width-height:90%;
$header-font-size:3em;//300%
$navbar-background:gray;
$border-radius-div:5px;
$center-text-align:center;
$navbar-height:15%;
$border:solid black 1px;
$wrapper-height:90%;
$wrapper-border:solid blue 1px;
$margin-center:0 auto;
$body-text-font-size:1em;
$width-paragraph:33%;
$page-height:750px;
$center:center;
$vertical-margin:10px;
$paragraph-height:10%;
$main-height:60%;
$footer-height:50px;
$primary-background:gray;
$sub-header-font-size:1.5em;
$select-font-size:1.15em;


#wrapper {
  width:$wrapper-width-height;
  border:$wrapper-border;
  margin:$margin-center;
  height:$page-height;
}

h1 {
  font-size: $header-font-size;
}

#navbar {
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  text-align: $center-text-align;
  height:$navbar-height;
  border:$border;
}

body {

}


 .paragraph-container {
   background-color:$navbar-background;
    display:inline-block;
    width:$width-paragraph;
    border-radius: $border-radius-div;
    text-align:$center;
    margin-top:$vertical-margin;
    height:$paragraph-height;
    padding:10px 0;
    font-size:$sub-header-font-size;

 }

#twocolcontainer {
  height:$main-height;
  width:98%;
  border:$wrapper-border;

}

#sidebar {
  display:inline-block;
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  border:red solid 1px;
  width:14%;
  height:500px;
  margin-top:$vertical-margin;
  margin-right:.5%;
}

#maincontent {
  display:inline-block;
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  border:green solid 1px;
  width:84%;
  height:500px;
  margin-top:$vertical-margin;
  margin-left:.5%;
}

#footer {

  border:pink solid 1px;
  margin:.5% auto;
  height:$footer-height;
  border-radius:10px;
  background-color:$primary-background;

}

#footerContainer {
  border:orange solid 1px;
  height:100px;
  text-align:$center;
  margin:0 auto;
  height:50px;

}

select {
  background-color:$primary-background;
  font-size:$select-font-size;
  border:solid green 1px;
}

button {
  background-color: $primary-background;
  font-size:$select-font-size;
  margin-top:10px;
  
}
