$wrapper-width-height:90%;
$header-font-size:3em;//300%
$navbar-background:gray;
$border-radius-div:5px;
$center-text-align:center;
$navbar-height:15%;
$border:solid black 1px;
$wrapper-height:90%;
$wrapper-border:solid blue 1px;
$margin-center:0 auto;
$body-text-font-size:1em;
$width-paragraph:33%;



#wrapper {
  width:$wrapper-width-height;
  border:$wrapper-border;
  margin:$margin-center;
  height:750px;
}

h1 {
  font-size: $header-font-size;
}

#navbar {
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  text-align: $center-text-align;
  height:$navbar-height;
  border:$border;
}

body {

}


 #paragraph-container {
   background-color:$navbar-background;
    display:inline-block;
    width:$width-paragraph;
    border-radius: $border-radius-div;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;

    height:10%;

 }

#twocolcontainer {
  height:60%;
  width:98%;
  border:$wrapper-border;

}

#sidebar {
  display:inline-block;
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  border:red solid 1px;
  width:14%;
  height:500px;
  margin-top:10px;
  margin-right:.5%;
}

#maincontent {
  display:inline-block;
  background-color:$navbar-background;
  border-radius: $border-radius-div;
  border:green solid 1px;
  width:84%;
  height:500px;
  margin-top:10px;
  margin-left:.5%;
}

#footer {

  border:pink solid 1px;
  margin:.5% auto;
  height:50px;
  border-radius:10px;
  background-color:gray;

}

#footerContainer {
  border:orange solid 1px;
  height:100px;
  text-align:center;
  margin:0 auto;
  height:50px;

}
